<h1><%= @pitch.title %></h1>

<div>
  <%= button_to "Upvote", pitches_upvote_path(:id => params[:id]) %>
</div>
<div>
  <%= @pitch.score %>
</div>
<div>
  <%= button_to "Downvote", pitches_downvote_path(:id => params[:id]) %>
</div>


<div><%= @pitch.content %></div>
<br>
<%= form_for [@pitch, @reaction] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<%= link_to 'All pitches', pitches_path %>


<!-- , :action => 'pitches/upvote' -->
