<h1><%= @pitch.title %></h1>

<div>
  <%= button_to "Upvote", pitches_upvote_path(:id => params[:id]), id: "upvote", remote: true %>
</div>
<<<<<<< HEAD
<div id='pitch-score'>
  Score: <%= @pitch.score %>
=======
<div>
  <%= render partial: "pitches/score", locals: { pitch: @pitch.score } %>
>>>>>>> upvote-is-created-with-AJAX
</div>
<div>
  <%= button_to "Downvote", pitches_downvote_path(:id => params[:id]) %>
</div>

<div><%= @pitch.content %></div>

<br>

<div id="pitch_reactions">
  <%= render partial: "pitches/reaction", collection: @reactions %>
</div>

<%= form_for [@pitch, @pitch.reactions.build], remote: true do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>



<%= link_to 'All pitches', pitches_path %>






