<!DOCTYPE html>
<html>
<head>
  <title>PitchOverflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless sign_in? %>
  <%= link_to "Login", omniauth_path %>
<% else %>
  Welcome <%= current_user.username %>, 
  <%= link_to "Logout", signout_path %>
<% end %>
<%= yield %>

</body>
</html>
